@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Stack+Sans+Headline:wght@200..700&display=swap');
*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #aa5404;
    --main-color: #2c2b2b;
    --primary-font: "Playfair Display", sans-serif;
}
body{
    background-color: #0f0f0f;
    font-family: sans-serif;
}
button{
    padding: 10px 30px;
    border: none;
    background: var(--primary-color);
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color, color 500ms;
}
button:hover{
    background-color: transparent;
    color: var(--primary-color);
    border: 2px solid #aa5404;
    padding: 8px 30px;
}
p{
    width: 500px;
    word-spacing: 2px;
    color: white;
    line-height: 1.3rem;
}
h1, h2{
    color: white;
}
hr{
    width: 80%;
}

/* Nav */
nav{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 15px;
    text-transform: capitalize;
}
nav li{
    display: inline;
    margin: 2rem;
    font-size: 1.3rem;
    list-style-type: none;
}
nav li a{
    text-decoration: none;
    color: white;
    padding-bottom: 10px;
    transition: border-bottom 300ms;
}
nav li a:hover{
    border-bottom: 3.5px solid var(--primary-color);
}

/* header */
header{
    height: 90vh;
    background: linear-gradient(#000000c4, #000000c4), url("https://i.ibb.co/VpH02XVd/jonas-jacobsson-RFHFV7l-VQBY-unsplash-removebg-preview.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
header h1{
    position: relative;
    bottom: 50px;
    font-size: 5rem;
    font-family: var(--primary-font); /*imported font*/
}
head-btn{
    margin-top: 7em;
}
/* our story section */
#our-story{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
div.img {
    width: 500px; height: 500px;
    background: url("https://i.ibb.co/hR0msP92/mila-vasileva-IXzr-Kxm-Pl-Qg-unsplash-removebg-preview.png");
    background-size: cover;
    transform: translateX(-100px);
}
.title-stye{
    display: flex;
    align-items: center;
}
h1.title{
    font-size: 4rem;
    text-transform: capitalize;
    font-family: var(--primary-font);
}
.section-content p{
    margin: 1% 0 10% 0;
}
/* Coffee container */
section.coffee-contianer{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
h1.title2{
    font-family: var(--primary-font);
    font-size: 3rem;
}
section.coffee-contianer p{
    margin: 5% 0;
}
.coffee-btn{
    margin-bottom: 5%;
}
.coffee-contianer{
    display: none;
}
/* products */
.products{
    height: 100vh;
} 
.title3{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 3rem;
    font-family: var(--primary-font);
    text-transform: uppercase;
}
.cards{
    height: 85vh;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    align-items: center;
}
.card{
    border: 3px solid var(--primary-color);
    padding: 2rem;
    border-radius: 10px;
}
.card:not(.image){
    padding: 3.5rem 7rem;
}
div.image{
    height: 150px; width: 150px;
    background-position: center;
    background-size: cover;
    transform: translateY(-120px);
}
.img1 {
    background: url("https://i.ibb.co/5hDdkL70/trent-erwin-f-KIm-Vj-Uwk-Xc-unsplash-removebg-preview.png");
}
.img2 {
    background: url("https://i.ibb.co/8D41t5Xg/phil-desforges-Nw8wbi-DE3g-U-unsplash-removebg-preview.png");
}
.img3 {
    background: url("https://i.ibb.co/xKxKWrVq/mila-vasileva-IXzr-Kxm-Pl-Qg-unsplash-removebg-preview.png");
}
.title3_1{
    margin-bottom: 50px;
    text-align: center;
    transform: translateY(-100px);
}
li{
    color: white;
    list-style-type: none;
    text-align: center;
    text-align: justify;
    transform: translateY(-50px);
    text-align: center;
    margin: 20px;
}
/* footer */
.footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}
span{
    color: var(--primary-color);
}
.title4{
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 2rem;
}
.info-par{
    width: 350px; 
    word-break: break-all;
}
.outro{
    margin-top: 2rem;
}
a{
    color: var(--primary-color);
    text-transform: capitalize;
    text-decoration: none;
}
a:hover{
    font-size: large;
}
/* responsiveness */

/* for mobo */
@media only screen and (min-width: 360px) and (max-width: 430px){
    nav h1{
        font-size: 1rem;
    }
    nav ul li{
        margin: 5px;
        font-size: 0.7rem;
    }
    header h1{
        font-size: 2.5rem;
    }
    #our-story{
        flex-direction: column;
    }
    .img-container .img{
        height: 300px; width: 300px;
        transform: translateY(0px);
    }
    h1.title, .section-content p{
        text-align: center;
    }
    .section-content p, .coffee-contianer p{
        width:70vw;
        word-break: break-all;
    }
    .section-content {
        display: flex;
        flex-direction: column;
    }
    section.coffee-contianer{
        flex-direction: column-reverse;
        
    }
    .coffee-image-container{
        transform: scale(0.8);
    }
    .coffee-contianer div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .title2, .coffee-contianer p{
        text-align: center;
    }
    .cards{
        flex-direction: column;
    }
    .title3, .card{
        margin-bottom: 25%;
    }
    .footer{
        flex-direction: column;
    }
    .title4{
        margin-top: 2rem;
    }
    p.outro{
        text-align: center;
        width: 100vw;
        margin-bottom: 1rem;
    }
}